
<h1>All Articles</h1>

<div class="container">

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th class="heading">Title</th>
      <th class="heading">Description</th>
      <th class="heading">Action</th>
    </tr>
  </thead>
  
  <tbody>
    <% @articles.each do |articles| %>
    <tr>
      <td><%= articles.title %></td>
      <td><%= articles.description %></td>
      <td><%= link_to 'Edit', edit_article_path(articles) %></td>
      <td><%= link_to 'Show', article_path(articles) %></td>
      <td><%= link_to 'Delete', article_path(articles), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  </tbody>
  <% end %> 
</table>
<%= link_to "Create new article", new_article_path, class: "newart" %> 

</div>